body {
  font-size: 14px;
}

.ui.secondary.menu {
  margin-left: -18px;
}

.main-header {
  margin-top: 8px;
  margin-bottom: -6px;
}

.login {
  padding-top: 18px;
}

.main-content {
  margin-top: 12px;
}

.ui.dropdown .menu {
  left: -225%;
}
